body {
	background: #fff;
	position: relative;
}
#header {
	box-shadow: 3px 2px 3px #b5b5b5;
}
div.user-info {
	overflow: hidden;
	float: right;
	margin-right: 12px;
	position: absolute;
	top: 15px;
	right: 0px;
}
ul.nav-header {
	
}
ul.nav-header li {
	float: left;
	border: none;
	border-right: 1px solid #fff;
	padding: 0px 10px;
	overflow: hidden;
	height: 20px;
	line-height: 20px;
}
ul.nav-header li span {
	text-align: center;
	padding: 2px 4px;
}
ul.nav-header li a {
	color: #fff;
}
ul.nav-header li:last-child {
	border: none;
}

#content {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#content-menu {
	float: left;
	min-height: 843px;
	width: 225px;
	background: #f4f4f4;
	border-right: 1px solid #dbdbdb;
	box-shadow: 2px 3px 3px #b5b5b5;
}
#content-menu .nav-aside {
	height: 100%;
}
#content-menu .nav-aside li {
	width: 100%;
	color: #333;
	display: block;
	position: relative;
}
#content-menu .nav-aside li i {
	position: absolute;
	top: 10px;
	right: 3px;
}
#content-menu .nav-aside li p.menu-title {
	padding: 5px 15px 5px 15px;
	border-bottom: 1px solid #dbdbdb;
	border-top: 1px solid #fff;
	background: #f0f0f0;
}
#content-menu .nav-aside li p.menu-title:hover {
	color:#0a8dce;
	cursor: pointer;
}
#content-menu .nav-aside li ul.ul-child {
	margin-top: -10px;
	margin-bottom: 10px;
}
#content-menu .nav-aside li ul.ul-child li {
	padding: 5px 8px 0 8px;
	background: #fff;
	vertical-align: middle;
	line-height: 1.4
}
ul.ul-child li a {
	color: #333;
	display: block;
	height: 100%;
	width:100%;
	text-indent: 25px;
}
#content-menu .nav-aside li ul.ul-child li:hover {
	background: #0a8dce;
}
#content-menu .nav-aside li ul.ul-child li:hover a,
#content-menu .nav-aside li ul.ul-child  li.selected a {
	color: #fff;
}
#content-menu .nav-aside li ul.ul-child  li.selected {
	background: #0a8dce;

}

#content-body {
	margin-left: 225px;
	overflow: hidden;
	position: relative;
	min-height: 870px;
}

/* 图书查询 */
#book-query,
#book-detail{
	overflow: hidden;
	margin-bottom: 15px;
	padding: 20px;
}

.query-header {
	border-bottom: 1px solid #dee5e7;

}
.query-header h1 {
	font-weight: 300;
	font-size: 24px;
	color: rgb(88,102,110);
}
.query-header h1 i {
	font-size: 24px;
}
#book-query .query-operation {
	width: 500px;
	margin: 50px auto;
	position: relative;
}
#book-query .query-operation #key-sel {
		height: 35px;
		max-width: 150px;
		padding: 5px 10px;
}
#book-query .query-operation .query-input {
	float: left;
	margin-left: 160px;
	margin-top: -35px;

}
#book-query  #keyWord {
	height: 35px;
	padding: 5px;
	display:block;
	min-width: 248px;
	border-radius: 4px;
	border: 1px solid rgb(204,204,204);
}
#book-query #query-btn {
	right: 0px;
	top: 0px;
	position: absolute;
	height: 35px;
	width: 90px;
	border-radius: 0;
	background: #19a9d5;
	border-color: #189ec8;
	color: #fff;

}
#footer {
	position: absolute;
	bottom: 50px;
	width:100%;
}
#footer p {
	display: block;
	margin: 0 auto;
}

#query-list {
	background: #fff;
	border: 1px solid #dbdbdb;
	border-top: none;
}
#query-list li {
	padding: 8px;
	/* border-bottom: 1px solid #dbdbdb; */
	color: #333;
}
#query-list li:hover {
	background: #0a8dce;
	color: #fff;
	cursor:pointer;
}

.dialog {
	width: 600px;
	height: 150px;
	text-align: center;
	margin: 140px auto;
	color: #333;
}


/* 书籍详情页面 */
.book-info {
	margin-top: 20px;
	overflow: hidden;
}
.bk-group {
	padding:5px;
	border: none;
	margin: 10px 0;
	text-indent: 15px;
}
.book-group p {
	word-break: break-word;
	text-indent: 5px;
	line-height: 1.4;
}

.book-info .bk-group {
	width: 600px;
	float: left;
}
.book-comment .bk-group {
	border: 1px solid #dbdbdb;
	padding: 8px;
	margin-bottom: 5px;
}
.book-comment .bk-group p {
	margin: 0px;
}
.book-comment .comment-list {
	height: 185px;
	overflow: auto;
}
.book-comment .comment-onself {
	height: 250px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.comment-onself textarea {
	width: 100%;
	height: 157px;
	resize: none;
	text-indent: 5px;
	padding: 5px;
	font-size: 15px;
}
.book-info i {
	width: 15px;
}
p span.smal {
	font-size: 6px;
	color: #333;

}
p button.zan,
p button.opp 
{
	margin-right: 5px;
	padding: 3px;
}

