<div id="book-query">
	<div class="query-header">
		<h1>
			<i class="icon-magnifier i-title"></i>
			搜索书籍
		</h1>
	</div>
	<div class="query-operation">
		<select  class="input-sm form-control w-sm inline v-middle" id="key-sel">
			<option value="0">综合搜索</option>
			<option value="1">书名</option>
			<option value="2">作者</option>
			<option value="3">出版社</option>
		</select>
		<div class="query-input">
			<input type="text" placeholder="输入关键词进行查找" id="keyWord" ng-model="bookname">
			<button id="query-btn" class="btn" ng-click="queryBooks(bookname)">查 询</button>
		</div>
	</div>
	<div class="" id="DataTables_Table_1_wrapper">
		<table class="table table-striped m-b-none dataTable no-footer" id="DataTables_Table_1">
			<thead>
			<th style="width: 300px;" class="sorting_asc" tabindex="0"rowspan="1" colspan="1">书名</th>
			<th style="width: 300px;" class="sorting_asc" tabindex="0"rowspan="1" colspan="1">作者</th>
			<th style="width: 300px;" class="sorting_asc" tabindex="0"rowspan="1" colspan="1">出版社</th>
			<th style="width: 300px;" class="sorting_asc" tabindex="0"rowspan="1" colspan="1">索书号</th>
			<th style="width: 300px;" class="sorting_asc" tabindex="0"rowspan="1" colspan="1">所在地</th>
			</thead>
			<tbody  id="#pagination">

				<tr ng-repeat="book in Books" class="odd" role="row">
					<td><a href="#/detail/{{book.bookID}}">《{{book.bookName}}》</a></td>
					<td>{{book.bookAuthor}}</td>
					<td>{{book.bookPublish}}</td>
					<td>{{book.bookID}}</td>
					<td>{{book.bookAddr}}</td>
				</tr>	
			</tbody>
		</table>
		<div class="dialog" ng-show="dataCounts">
			<h2>然而，并没有任何数据，请重新查找</h2>
		</div>
		<div class="pull-right btn-group">
			<a ng-repeat="page in books | cut" class="btn btn-default" ng-click="getCurrentPage($index)" ng-class="getPageClass($index+1)">
				{{$index + 1}}
			</a>
		</div>
	</div>
</div>