<div id="queryHot">
	<div class="query-header">
		<h1>
			<i class="icon-fire i-title"></i>
			热门图书查询
		</h1>
	</div>	
	<div id="typeList">
		<ul class="type">
			<li>计算机技术</li>
			<li>外文书籍</li>
			<li>马克思主义理论</li>
			<li>军事技术</li>
			<li>艺术</li>
			<li>数理科学与化学</li>
			<li>文学</li>
			<li>政治法律</li>
		</ul>
	</div>
	<div id="bookList">
		<table class="table table-striped m-b-none dataTable no-footer">
			<thead>
				<th style="width: 300px;" class="sorting_asc" tabindex="0"rowspan="1" colspan="1">书名</th>
				<th style="width: 300px;" class="sorting_asc" tabindex="0"rowspan="1" colspan="1">作者</th>
				<th style="width: 300px;" class="sorting_asc" tabindex="0"rowspan="1" colspan="1">出版社</th>
				<th style="width: 300px;" class="sorting_asc" tabindex="0"rowspan="1" colspan="1">索书号</th>
				<th style="width: 300px;" class="sorting_asc" tabindex="0"rowspan="1" colspan="1">所在地</th>
			</thead>
			<tbody>
				<tr class="odd" role="row">
					<td><a href="">book1</a></td>
					<td>author1</td>
					<td>publish1</td>
					<td>dajfka</td>
					<td>dakfja</td>
				</tr>
				<tr class="odd" role="row">
					<td><a href="">book1</a></td>
					<td>author1</td>
					<td>publish1</td>
					<td>dajfka</td>
					<td>dakfja</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>